@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css"); // Import Bootstrap Icons
@import 'custom'; // Import custom styles

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}